<%= bootstrap_form_for @user, url: join_path do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password, help: "Must be 8 Characters", icon: "lock" %>
  <%= f.password_field :password_confirmation, label: "Confirm Password" %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.submit "Join Thought Box", class: "btn btn-success" %>
    </div>
  </div>
<% end  %>